@charset "UTF-8";

/* 共通部分
------------------- */
html {
    font-size: 20px;
}

ul {
    list-style-type: none;
}


/* HEADER
------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.menu-nav {
    display: flex;
}

.menu-nav li {
    margin-left: 36px;
}

.menu-thumbnail {
    display: none;
}

.menu-mobile {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0px;
    width: 50%;
    height: 100vh;
    background-color: aliceblue;
    text-align: center;
    border-style: outset;
    border-width: 0 0 0 1px;
    border-color: rgba(255, 255, 255, 0.1);
}

.menu-mobile ul li {
    margin-top: 20px;
}

.wrapper {
    max-width: 100%;
    padding: 0 1%;
}

@media (max-width: 600px) and (min-width: 360px) {
    body {
        position: relative;
        z-index: 1;
    }
    .menu-nav {
        display: none;
    }
    .menu-thumbnail {
        display: block;
    }
    .menu-mobile {
        display: none;
    }
        
}

/* BANNER
------------------- */
.banner {
    background-color: antiquewhite;
    height: 250px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) and (min-width: 360px) {
    .banner {
        text-align: center;
    }
}

/* SECTION
------------------- */
section {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.product-item {
    width: calc((100% - 40px) / 3);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: bisque;
}

.product-item:not(:first-child) {
    margin-left: 20px;
}
.product-item .attractionPic {
    height: 50px;
    width: 80px;
}
.product-item .attractionPic img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.product-item .attractionName {
    margin-left: 10px;
}

@media (max-width: 1200px) {
    section {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto;
    }

    .product-item{
        width: calc((100% - 20px) / 2);
        margin: 0 0 20px 0;
    }

    .product-item:last-child {
        width: 100%;
        margin: 0 0 0 0;
    }

    .product-item:not(:first-child) {
        margin-left: 0px;
    }

    .product-item:first-child {
        margin-right: 20px;
    }
}

@media (max-width: 600px) and (min-width: 360px) {
    section {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto;
    }

    .product-item{
        width: 100%;
        margin: 0 0 20px 0;
    }

    .product-item:first-child {
        margin-right: 0px;
    }
}

/* ARTICLE
------------------- */
article {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.title-item {
    width: calc((100% - 100px) / 6);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
    position: relative;
}

.title-item:not(:nth-child(6n)) {
    margin-right: 20px;
}

.title-item .attractionPic {
    width: 100%;
    height: 100%;
}

.title-item .attractionPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.star img{
    width: 15%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.title-item .attractionName {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(227, 164, 78, 0.8);
    position: absolute;
    bottom: 0px;
}

@media (max-width: 1200px) {
    article {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 20px auto;
    }

    .title-item {
        width: calc((100% - 60px) / 4);
        
    }

    .title-item:not(:nth-child(6n)) {
        margin-right: 0px;
    }

    .title-item:not(:nth-child(4n)) {
        margin-right: 20px;
    }

    .title-item .attractionName {
    height: 30%;
    }
}

@media (max-width: 600px) and (min-width: 360px) {
    article {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto;
    }

    .title-item {
        width: 100%;    
    }

    .title-item:not(:nth-child(4n)) {
        margin-right: 0px;
    }

    .title-item .attractionName {
    height: 20%;
    }
}

/* Load More
------------------- */
.button-container {
    display: flex;
    justify-content: center; /* 水平置中 */
  }

#load-more{
    width: 150px;
    margin-bottom: 20px;
    padding: 10px 30px;
    border: 1px solid #334;
    color: #334;
    font-size: 16px;
    background-color: #fff;
}
