{% extends "base.html" %} {% block title %}首頁{% endblock %} {% block link %}
<script type="text/javascript" src="./script.js"></script>
{% endblock %} {% block header %} 歡迎光臨，請輸入帳號密碼 {% endblock %} {%
block article %}
<article>
	<div class="sign-title">
		<span>登入系統</span>
	</div>
	<form action="/signin" method="POST" name="signin">
		<label
			>帳號
			<input type="text" name="username" />
		</label>
		<label
			>密碼
			<input type="password" name="password" />
		</label>
		<label
			>同意條款
			<input type="checkbox" id="access" name="agree" />
		</label>
		<input type="submit" value="登入" name="submit" />
	</form>
	<hr />
	<span>計算正整數的平方</span>
	<form action="/square/<int:positive>" method="POST" name="calculate">
		<label
			>正整數
			<input type="text" name="positive" />
		</label>
		<input type="submit" value="計算" />
	</form>
</article>
{% endblock %}
