{% extends "base.html" %} {% block title %}會員頁面{% endblock %} {% block
header %}歡迎光臨，這是會員頁{% endblock%} {% block article %}
<article>
	<span>{{ name }}，歡迎登入系統</span>
	<span><a href="signout">登出系統</a></span>
	<hr />
	<span>快來留言吧</span>
	<form action="/createMessage" method="POST" name="createMessage">
		<label
			>內容
			<input type="text" name="message" />
		</label>
		<input type="submit" value="送出" name="submit" />
	</form>
	<hr />
	{% for member, message in messages %}
	<span>{{ member }} : {{ message }}</span>
	{% endfor %}
</article>
{% endblock %}
